      *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    body {
      margin: 0;
      height: 100vh;
      background-image: url('/img/7.jpg');
      background-repeat: no-repeat;
      background-size: cover;     
      background-attachment: fixed; 
      background-position: center;
    }
    #navbar{
        display: flex;
        justify-content:space-evenly;
        background-color: rgba(21, 21, 29, 0.829);
        border-radius: 0px 0px 20px 20px ;
        width: 80%;
        height: 40px;
        padding: 10px;
        margin: 0 auto;
          box-shadow:  0 1px 20px orange;
    }
    .navMenu{
        text-decoration: none;
        color: wheat;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navMenu:hover{
        font-size: 20px;
        color: beige;
        text-shadow: 0 0 20px #eeede7;
    }
    .ap{
        color: orange;
    } 
    #box{
        width: 80%;
        background-color: rgba(21, 21, 29, 0.61);
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 10px 10px 10px 10px;
        color: beige;
        border: 1px solid rebeccapurple;
        height: 500px;
        box-shadow:  0 1px 20px orange;
    }
    #org{
        color: orange;
    }
    #head{
        text-align: center;
        padding-top: 1rem;
        border: 1px solid yellow;
    }
   .contDiv{
    border: 1px solid brown;
    width: 95%;
    margin: 2% auto;
    height: 80%;
    display: flex;
    justify-content: space-between;
    
   }

   .info , .stdImg{
    border: 1px solid black;
    width: 49%;
   }
   .contDiv .info .details{
    border: 1px solid green;
    margin: 1rem auto;
    height: 90%;
    padding: 1rem;
    line-height: 2rem;
    font-size: 19px;
   }
   .details b{
    color: yellow;
   }
   .details a{
    text-decoration: none;
    color: white;
   }
   .stdImg .imgMy{
    /* border: 1px solid yellow; */
    width: 40%;
    margin: 3rem auto;
    height: 65%;
    box-shadow:  0 1px 20px white;
    border-radius: 10px;
    border: none;
   }
   .stdImg .imgMy img{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 0px;
   }