  *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    body {
      margin: 0;
      height: 100vh;
      background-image: url('/img/home.jpg');
      background-repeat: no-repeat;
      background-size: cover;     
      background-attachment: fixed; 
      background-position: center;
      
    }
    #navbar{
        display: flex;
        justify-content:space-evenly;
        background-color: rgba(21, 21, 29, 0.829);
        border-radius: 0px 0px 20px 20px ;
        width: 80%;
        height: 40px;
        padding: 10px;
        margin: 0 auto;
          box-shadow:  0 1px 20px orange;
    
    }   
    .navMenu{
        text-decoration: none;
        color: wheat;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navMenu:hover{
        font-size: 20px;
        color: beige;
        text-shadow: 0 0 20px #eeede7;
    }
    .ap{
        color: orange;
    } 
     #box{
        width: 80%;
        height: 90%;
        background-color: rgba(21, 21, 29, 0.61);
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 10px 10px 10px 10px;
        color: beige;
        border: 1px solid rebeccapurple;
        height: 500px;
        box-shadow:  0 1px 20px orange;
       
    }
    #org{
        color: orange;
    }
    #head{
        text-align: center;
        padding-top: 1rem;
        border: 1px solid yellow;
    }
    .expeDiv{
        border: 1px solid forestgreen;
        width: 95%;
        margin: 1rem auto;
        height: 83%;
    }
    