*{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    body {
      margin: 0;
      height: 100vh;
      background-image: url('/img/project.jpg');
      background-repeat: no-repeat;
      background-size: cover;     
      background-attachment: fixed; 
      background-position: center;
    }
    #navbar{
        display: flex;
        justify-content:space-evenly;
        background-color: rgba(21, 21, 29, 0.829);
        border-radius: 0px 0px 20px 20px ;
        width: 80%;
        height: 40px;
        padding: 10px;
        margin: 0 auto;
         box-shadow:  0 1px 20px orange;
    
    }
    .navMenu{
        text-decoration: none;
        color: wheat;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navMenu:hover{
        font-size: 20px;
        color: beige;
        text-shadow: 0 0 20px #eeede7;
    }
    .ap{
        color: orange;
    } 
     #box{
        width: 90%;

        background-color: rgba(21, 21, 29, 0.61);
        margin: 0 auto;
        margin-top: 3%;
        border-radius: 10px 10px 10px 10px;
        color: beige;
        border: 1px solid rebeccapurple;
        height: 530px;
        box-shadow:  0 1px 20px orange;
       
    }
    #org{
        color: orange;
    }
    #head{
        text-align: center;
        padding-top: 1rem;
        border: 1px solid yellow;
    }
    .mainPro{
        border: 1px solid rgb(12, 46, 240);
        width: 98%;
        margin: 10px auto;
        height: 86%;
        display: flex;
        gap: 10px;
    }
    .projectDiv{
        border: 2px solid rgb(10, 12, 10);
        width: 20%;
        height: 90%;
        margin-top: 2%;
        background-color:#131621;
        border-radius: 10px;
        box-shadow: 0 0 10px white;
    }
    .projectDiv  .photo{
        border: 1px solid rgb(243, 4, 4);
        width: 90%;
        height: 50%;
        margin: 10px auto;
    }
    .projectDiv  .photo img{
        width: 100%;
        height: 100%;
    }
    .projectDiv  h3{
        margin: 12px;
        color: orange;
    }
    .projectDiv p{
        margin: 12px;
        color: white;
    }
    .demoBt{
        border: 1px solid peru;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 10px;
        width: 100%;
        height: 7%;
    }
    .demoBt #live{
        background-color: orange;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
     .demoBt #live:hover{
        box-shadow: 0 0 10px orange;
     }

    .demoBt #git{
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
     .demoBt #git:hover{
        box-shadow: 0 0 10px orange;
        background-color: orange;

     }